/* Global Setting */
@font-face { 
font-family: 'DIN'; 
src: local('DIN Condensed Regular'), 
local('DIN Condensed'),
url('../fonts/din condensed bold.eot'), 
url('../fonts/din condensed bold.woff') format('woff'), 
url('../fonts/din condensed bold.ttf') format('truetype'), 
url('../fonts/din condensed bold.svg#din regular') format('svg'); 
}

body{margin:0; padding:50px 0 0 0;text-align:left; font-size:12px; font-family:'Microsoft YaHei','SimHei',Arial; background:url(../images/pcBgM.jpg) center top repeat-y #f0f0f0;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; padding:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
a:hover,a:focus{ text-decoration:none; color:inherit;}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:1000px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}
.pcShow{ display:inline-block;}
.mobileShow{ display:none;}

.navbar-inverse{ border:none;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ background:#262324;}
.navbar-brand{ padding:13px 23px; background:#48D731;}
.navbar-brand img{ width:94px;}
.nav.navbar-right > li.navIcon{ background:url(../images/navIcon.png) 0 0 no-repeat; background-size:133px 15px; width:16px; height:15px; padding:0; margin:20px 10px 0 10px;}
.nav.navbar-right > li.navIcon1{ background-position:0 0;}
.nav.navbar-right > li.navIcon2{ background-position:-42px 0; width:18px;}
.nav.navbar-right > li.navIcon3{ background-position:-82px 0;}
.nav.navbar-right > li.navIcon4{ background-position:-119px 0;}
.nav.navbar-right > li a{ display:block; width:100%; height:100%;}
.nav.navbar-right > li a:hover,
.nav.navbar-right > li a:focus{ border:none; background:none;}
.snsLine{ display:none; padding:15px 0; color:#FFF; font-size:14px; text-align:center; border-top:0px solid #454141; line-height:16px;}
.snsLine a{ margin:0 15px;}
.snsLineBtn{ background:url(../images/navIcon.png) 0 0 no-repeat; display:inline-block; width:16px; height:15px; margin:0 8px; vertical-align:-2px;}
.snsLineBtn1{ background-position:0 0;}
.snsLineBtn2{ background-position:-42px 0; width:18px;}

.qcBg{ width:100%; height:100%; position:fixed; left:0; top:50px; background:#262324; opacity:0.95; z-index:1050;}
.navQc{ position:fixed; left:50%; top:50%; margin:-70px 0 0 -73px; z-index:1050;}
.navCloseBtn{ position:absolute; top:0; right:0; z-index:1050; padding:17px 25px; background:#262324;}

/*index kv*/
.jumbotron{ background:url(../images/index/kvBg.jpg) center top no-repeat; background-size:auto 100%;}
.kvEf{ background:url(../images/index/kvTxt.png) 0 0 no-repeat; width:365px; height:235px; left:50%; top:30%; margin-left:-306px;}
.kvVideo{ font-size:22px; color:#FFF; left:115px; top:190px; width:320px; letter-spacing:3px;}
.kvVideo img{ vertical-align:-12px; margin-left:10px;}
.kvVideo:hover,.kvVideo:focus{ text-decoration:none; color:#FFF;}
.downNote{ background:url(../images/downIcon.png) 0 0 no-repeat; width:40px; height:14px; left:50%; bottom:30px; margin-left:-20px; -webkit-animation:downNote 1.5s 0s linear infinite; -moz-animation:downNote 1.5s 0s linear infinite; animation:downNote 1.5s 0s linear infinite;}
@-webkit-keyframes downNote{
0%{ -webkit-transform:translate(0,0);}
40%{ -webkit-transform:translate(0,20px);}
100%{ -webkit-transform:translate(0,0);}
}
@-moz-keyframes downNote{
0%{ -moz-transform:translate(0,0);}
40%{ -moz-transform:translate(0,20px);}
100%{ -moz-transform:translate(0,0);}
}
@keyframes downNote{
0%{ transform:translate(0,0);}
40%{ transform:translate(0,20px);}
100%{ transform:translate(0,0);}
}

/*index main*/
.indexBlock{ background:url(../images/pcBgB.png) left bottom no-repeat; max-width:1920px; margin:0 auto;}
.indexBlock .containerBg{  background:url(../images/pcBgT.png) center top no-repeat; padding-bottom:100px; overflow:hidden;}
.indexVideo{ padding:100px 0 50px 0; color:#FFF;}
.topTitle{ background:url(../images/subTitleBg.png) left bottom no-repeat; width:250px; padding:0 0 40px 15px; color:#FFF; font-size:42px; line-height:44px; font-weight:bold; margin:0 auto; font-family:DIN,'Microsoft YaHei','SimHei';}
.topEnTitle{ font-size:26px; color:#48D731; line-height:26px; padding:0; letter-spacing:2px; font-weight:normal;}
.subContext{ font-family:DIN,'Microsoft YaHei','SimHei'; letter-spacing:3px;}
.topContext{ padding:30px 0 0 0; text-align:center; color:#FFF; font-size:14px; line-height:34px; font-family:'Microsoft YaHei','SimHei'; letter-spacing:3px;}
.qLeft{ left:20%; bottom:5px;}
.qRight{ right:20%; bottom:5px;}

.topVideo{ width:100%; background:#727170; border:6px solid #141213; margin-top:40px;}
.tvPlayBtn{ left:50%; top:50%; margin:-20px 0 0 -20px;}

.indexLine1,.indexLine2{ position:relative;}
.indexLine2{ margin-top:110px; margin-bottom:70px;}
.indexLine1left,.indexLine2left{ border-left:20px solid #48D731; background:#262324; padding:140px 0 200px 0; margin-bottom:100px; transform:translate(0,100px);}
.subContext{ width:100%; text-align:center; color:#FFF; font-size:14px; line-height:36px; padding-top:40px;}
.indexLine1Right{ position:absolute; left:50%; top:100px/*60px*/;}
.lineBlock1{ border:15px solid #FFF; width:230px; height:230px; position:absolute; left:10%; top:0;}
.indexLine2Right{ position:absolute; left:50%; top:220px/*150px*/;}
.indexLine2Right img{ position:absolute; left:0; top:0;}
.lineBlock2{ border:15px solid #48D731; background:#F0F0F0; width:230px; height:230px; position:absolute; right:20%; top:-40px;}
.needShowa{ transition:all 0.7s 0s linear; -webkit-transition:all 0.7s 0s linear; -moz-transition:all 0.7s 0s linear;}
.needShowb{ transition:all 0.7s 0.9s linear; -webkit-transition:all 0.7s 0.9s linear; -moz-transition:all 0.7s 0.9s linear;}
.anmBlock{ transition:all 0.7s 0s ease-out; -webkit-transition:all 0.7s 0s ease-out; -moz-transition:all 0.7s 0s ease-out;}
.anmBlock2{ transition:all 0.5s 0s ease-out; -webkit-transition:all 0.5s 0s ease-out; -moz-transition:all 0.5s 0s ease-out;}
.indexLine1Bottom,.indexLine2Bottom{ position:absolute; left:0; bottom:0; width:100%;}
.indexLine2BottomMore{ font-size:16px; color:#FFF; height:30px; line-height:30px; position:absolute; left:0; top:50%; margin-top:-15px; width:100%; text-align:center;}
.indexLine2BottomMore img{ margin-left:10px; vertical-align:-5px;}
.vCover{ background:rgba(0,255,80,0.8); position:absolute; left:0; top:0; width:100%; height:100%; opacity:0;}
.vCover img{ position:absolute; left:50%; top:50%; margin:-20px 0 0 -20px;}
.cBgImg{ position:absolute; left:0; top:0; transform-origin:50% 50% 0; -moz-transform-origin:50% 50% 0; -webkit-transform-origin:50% 50% 0; -ms-transform-origin:50% 50% 0; transition:all 0.5s 0s ease-out; -webkit-transition:all 0.5s 0s ease-out; -moz-transition:all 0.5s 0s ease-out; -ms-transition:all 0.5s 0s ease-out; transform:scale(1.01); -moz-transform:scale(1.01); -ms-transform:scale(1.01); -webkit-transform:scale(1.01);}
.lGallery:hover .cBgImg{ transform:scale(1.2); -moz-transform:scale(1.2); -ms-transform:scale(1.2); -webkit-transform:scale(1.2);}
.indexLineBottom .innerDiv{ overflow:hidden;}

/*footer*/
.foot1{ background:#262324; padding-top:40px; padding-bottom:30px; border-bottom:5px solid #48D731; margin-top:-5px;}
.footTop{ overflow:hidden;}
.footContent{ border-right:20px solid #48D731; margin:0 1.1% 20px 1.1%; width:31%;}
.footContent a:hover,.footContent a:focus{ color:inherit; text-decoration:none;}
.fcBottom{ padding:30px 5% 15px 5%; background:#FFF;}
.fcbTitle{ height:90px;}
.fcbTitle .fcbt1{ width:90%; padding:0 0 10px 0; color:#000; font-size:14px; font-weight:bold; line-height:16px; overflow:hidden; border-bottom:2px solid #000;}
.fcbTitle .fcbt2{ width:90%; padding:10px 0 0 0; color:#000; height:60px; line-height:16px; font-size:12px; overflow:hidden;}
.fcbLink{ padding-top:20px;}
.fcbBtn1{ display:inline-block; padding:8px 50px 10px 10px; color:#000; border:2px solid #48D731; font-weight:bold; background:url(../images/footBtnArrow.png) 70px 8px no-repeat; float:left;}
.fcbBtn2{ float:right; display:inline-block; padding-top:6px;}
.fc1{-webkit-animation:fc1 0.7s 0s linear both; -moz-animation:fc1 0.7s 0s linear both; animation:fc1 0.7s 0s linear both;}
.fc2{-webkit-animation:fc1 0.7s 0.7s linear both; -moz-animation:fc1 0.7s 0.7s linear both; animation:fc1 0.7s 0.7s linear both;}
.fc3{-webkit-animation:fc1 0.7s 1.4s linear both; -moz-animation:fc1 0.7s 1.4s linear both; animation:fc1 0.7s 1.4s linear both;}
@-webkit-keyframes fc1{
0%{ -webkit-transform:translate(0,30px);}
100%{ -webkit-transform:translate(0,0);}
}
@-moz-keyframes fc1{
0%{ -moz-transform:translate(0,30px);}
100%{ -moz-transform:translate(0,0);}
}
@keyframes fc1{
0%{ transform:translate(0,30px);}
100%{ transform:translate(0,0);}
}

.foot2{ background:#000; padding:50px 0 40px 0;}
.footQc{ text-align:center; width:170px; margin:0 auto;}
.footQcTxt{ font-size:12px; color:#48D731; padding:20px 0; border-bottom:1px solid #48D731;}
.footLogo{ padding:20px 0 25px 0;}
.footSns{ text-align:center;}
.fsBtn{ margin:0 10px;}
.footLink{ text-align:center; padding:40px 0 10px 0; color:#FFF; font-size:14px;}
.footLink a{ color:#FFF; margin:0 10px;}
.footIcp{ text-align:center; color:#FFF; font-size:14px;}
.footNav{ padding:25px 0; text-align:center; width:100%;}
.footNav span{ display:inline-block; width:20px; background:none; height:4px; overflow:hidden; border:1px solid #48D731; margin:0 5px;}
.footNav span.fnActive{ background:#48D731;}

/*pop img video*/
.videoPop{ position:fixed; left:0; top:0; z-index:1040; width:100%; height:100%; display:none; background:rgba(0,0,0,0.9);}
.videoYouku{ width:100%; height:100%;}
.popCloseBtn{ position:fixed; top:0; right:0; color:#FFF; font-size:20px; z-index:1050;}
.html5-nav-mask,#html5-watermark,.html5boxVideoControls{ display:none;}

.bxslider li a{ width:100%; display:inline-block;}
.bxslider li a img{ width:100%;}

/*article*/
.articleBlock{ background:url(../images/pcBgB.png) left bottom no-repeat; max-width:1920px; margin:0 auto;}
.articleBlock .container{ /*background:url(../images/article/articleBg.jpg) center bottom no-repeat #f0f0f0; background-size:100% auto;*/ padding-bottom:400px; padding-top:30px; overflow:hidden;}
.articleLine{ padding:70px 25px; border-bottom:1px solid #48D731;}
.articleLine:last-child{ border-bottom:none;}
.articleLine a{ color:#1D1A1B;}
.articleLine a:hover,.articleLine a:focus{ text-decoration:none; color:inherit;}
.articleLine a h2{ font-size:42px; line-height:100%; padding:0 0 50px 0;}
.articleLine a p{ font-size:14px; line-height:24px; padding:0;}

.articleDetail{ position:fixed; left:0; top:0; width:100%; height:100%; z-index:1040; background:rgba(0,0,0,0.9); padding:70px 10px 70px 25px;}
.articleContent{ color:#FFF; font-size:14px; line-height:24px;}
.articleContent a{ color:#FFF;}
.articleContent h1{ text-align:center; font-size:30px;}

.popArticle{ color:#FFF; padding:25px;}

/*brand*/
.kvBg{ background:url(../images/brand/kv.png) center top no-repeat; background-size:auto 100%; width:100%;}
.bkLogo{ top:5.5710306406685%; right:9.0422535211268%; width:9.6774193548387%;}
.bkBottle{ bottom:0; right:8.6901408450704%; width:10.4838709677419%;}
.brandBlock{ background:url(../images/pcBgB.png) left bottom no-repeat; max-width:1920px; margin:0 auto;}
.brandBlock .containerBg{  background:url(../images/pcBgT.png) center top no-repeat; padding-bottom:0px; overflow:hidden;}
.brandLine{ padding-bottom:50px;}
.brandLineLeft{ background:url(../images/brand/infoBg.jpg) -1px -1px no-repeat #262324; background-size:102% 102%;}
.brandLineRight{ position:absolute; left:50%; bottom:50px; background:#262324; border-left:20px solid #48D731; border-bottom:none; padding:70px 0; z-index:500;}
.brandLineRightHasGreen{ border-left:0; padding:0; background:none;}
.brandLineRightInner{ position:absolute; left:0; bottom:0; background:#262324; border-left:20px solid #48D731; padding:70px 0; z-index:500; width:100%;}
.brandTitle{ background:url(../images/subTitleBg.png) left bottom no-repeat; width:280px; padding:0 0 40px 15px; color:#FFF; font-size:32px; font-weight:bold; margin:0 auto; font-family:DIN,'Microsoft YaHei','SimHei';}
.brandTitleEnTitle{ font-size:26px; color:#48D731; line-height:26px; padding:0; letter-spacing:2px; font-weight:normal;}
.brandContext{ width:290px; margin:0 auto; color:#FFF; font-size:14px; line-height:36px; padding:20px 0 0 15px; letter-spacing:3px;}
.brandBuyLink{ width:290px; padding:20px 0 0 15px; margin:0 auto; color:#48D731; font-size:14px;}
.brandBuyLink a{ color:#48D731; margin-left:20px;}
.brandBuyLink a:first-child{ margin-left:35px;}
.brandBuyLink a img{ vertical-align:-10px;}
.brandLineLeftContent{width:100%;}
.brandLineLeftContent .brandTitle{ width:55%; padding-top:70px; margin:0; margin-left:10%;}
.brandLineLeftContent .brandContext{ width:65%; margin:0; margin-left:10%;}
.brandLineLeftContent .brandBuyBtn{ width:55%; padding:40px 0 80px 15px; margin:0; margin-left:10%;}
.brandBtn{ display:inline-block; padding:8px 50px 10px 10px; color:#FFF; border:2px solid #48D731; font-weight:bold; background:url(../images/footBtnArrow.png) 75px 8px no-repeat;}
.brandBtn:hover,.brandBtn:focus{ color:#FFF;}
.bitTxt{ font-size:42px; line-height:48px; color:#FFF; text-align:center; position:absolute; left:0; top:40%; width:100%; text-shadow:2px 2px 3px rgba(0,0,0,0.73); letter-spacing:5px;}
.biTop{ padding-bottom:500px;}
.biBottom{ position:absolute; left:0; top:0;}
.bibLeft{ width:48%; float:left; margin-top:40%;}
.bibRight{ width:48%; float:right; margin-top:40%;}
.bibTxt{ font-size:28px; line-height:110%; color:#FFF; position:absolute; left:10%; top:30%; text-shadow: 2px 2px 15px rgba(0,0,0,0.77);}
.bibTxt span{ font-size:24px; font-family:DIN,'Microsoft YaHei','SimHei';}
.bibBottom{ border-left:20px solid #48D731; background:#FFF; font-size:14px; color:#262324; letter-spacing:3px; line-height:36px; padding:30px 40px 30px 30px;}
.brandRightGreen{ border:15px solid #48D731; width:225px; height:225px; position:absolute; top:-550px; right:-60px; z-index:50;}

/*event*/
.eventBlock{ background:url(../images/pcBgB.png) left bottom no-repeat; max-width:1920px; margin:0 auto; margin-top:-5px;}
.eventBlock .containerBg{  background:url(../images/pcBgT.png) center top no-repeat; padding-bottom:250px; overflow:hidden;}
/*.eventBlock .container{ background:url(../images/index/indexBg.jpg) center top no-repeat; background-size:100% 100%; padding-bottom:250px; overflow:hidden;}*/
.eventTitle{ background:url(../images/subTitleBg.png) left bottom no-repeat; width:350px; padding:0 0 40px 15px; color:#FFF; font-size:42px; line-height:46px; font-weight:bold; margin:0 auto; font-family:DIN,'Microsoft YaHei','SimHei';}
.eventTitleEnTitle{ font-size:26px; color:#48D731; line-height:26px; padding:0; letter-spacing:2px; font-weight:normal;}
.eventLine1,.eventLine2,.eventLine3{ position:relative;}
.eventLine1{ margin-top:50px;}
.eventLine2{ margin-top:200px;}
.eventLine1left,.eventLine2left,.eventLine3left{ border-left:20px solid #48D731; background:#262324; padding:140px 0 100px 0; margin-bottom:200px; transform:translate(0,100px);}
.eventLine1Right{ position:absolute; left:50%; top:260px/*200px*/;}
.eventLine1Right img{ position:absolute; left:0; top:0;}
.eventLine2Right{ position:absolute; left:50%; top:320px/*250px*/;}
.eventLine3Right{ position:absolute; left:50%; top:320px/*250px*/;}
.eventLine1Bottom,.eventLine2Bottom,.eventLine3Bottom{ position:absolute; left:0; top:520px; width:100%;}
.eventLine2BottomMore{ font-size:16px; color:#FFF; height:30px; line-height:30px; position:absolute; left:0; top:50%; margin-top:-15px; width:100%; text-align:center;}
.eventLine2BottomMore img{ margin-left:10px; vertical-align:-5px;}
.eventLineBottom .innerDiv{ overflow:hidden;}
.eventSubTitle{ width:350px;}

/*crm*/
.crmKv .container{ background:url(../images/crm/kv.png) center top no-repeat; height:500px; background-size:auto 100%;}
.crmKv .crmOuter{ height:500px;}
.crmLogoLine{ position:absolute; left:0; top:29%; text-align:center; width:100%;}
.crmKvLine{ text-align:center; position:absolute; left:50%; top:35%; width:600px; margin:0 0 0 -350px;}
.crmKvLine img.qc{ margin-right:50px; float:left;}
.crmKvTxt{ padding:10px 0 0 0; font-size:14px; color:#FFF; letter-spacing:3px; line-height:36px; text-align:left;}

/*party*/
.partyKvLine{ text-align:center; padding-top:50px; width:750px; position:absolute; left:50%; margin-left:-375px; top:20%;}
.bx-wrapper img.qc{ margin-right:20px; float:left; width:auto;}
.partyKvTxt{ padding:25px 0 0 0; font-size:14px; color:#FFF; letter-spacing:3px; line-height:36px; text-align:left; font-family:DIN,'Microsoft YaHei','SimHei';}

/*drink*/
.drinkTitle{ background:url(../images/subTitleBg.png) left bottom no-repeat; position:absolute; top:40%; left:50%; margin-left:-100px; width:350px; padding:0 0 40px 15px; color:#FFF; font-size:42px; line-height:46px; font-weight:bold; font-family:DIN,'Microsoft YaHei','SimHei';}
.drinkEnTitle{ font-size:26px; color:#48D731; line-height:26px; padding:0; letter-spacing:2px; font-weight:normal;}
.drinkNavOuter{ position:relative; width:100%; height:370px;}
.drinkNav{ position:absolute; left:0; top:-70px; width:100%;}
.dnOuter{ background:#262324;/* border-top:20px solid #48D731;*/ padding:0 0 40px 0;}
.dnTop{ background:/*url(../images/drink/drinkIcon2.png) 90% 18px no-repeat */#48D731; font-family:"DIN","Microsof YaHei",'SimHei',Arial; height:50px; color:#262324; letter-spacing:2px; font-size:18px; line-height:60px; overflow:hidden; float:none; margin-bottom:40px;}
.dnTop .dnTab{ background:#262324;}
.dnTop .dnTab a{ display:block; width:100%; height:100%; line-height:60px; color:#767676; text-align:center;}
.dnTop .dnTabActive{ background:#48D731;}
.dnTop .dnTabActive a{ color:#262324;}
.dnTop img{ vertical-align:-1px;}
.dnCol{ padding:0 0 0 95px;}
.dnCol .dnColTitle{ font-size:18px; color:#48D731; letter-spacing:3.85px; padding-bottom:20px;}
.dnCol li{ padding-bottom:20px;}
.dnCol li a{ font-size:14px; color:#FFFFFF; letter-spacing:3px;}
.dnColHaveBorder{ border-left:1px solid #48D731; border-right:1px solid #48D731;}

.drinkBlock{ background:url(../images/pcBgB.png) left bottom no-repeat; max-width:1920px; margin:0 auto; padding-bottom:50px;}
.drinkBlock .container.hasBg{/* background:url(../images/drink/bg.jpg) center top no-repeat; background-size:100% 100%;*/}
.drinkLine{ padding-bottom:100px; position:relative;}
.drinkLineLeft{ background:#262324; padding-bottom:70px;}
.drinkLineRight{ position:absolute; right:0; bottom:20px; background:#262324; border-left:20px solid #48D731; padding:0;}
.drinkSubTitle{ background:url(../images/subTitleBg.png) left bottom no-repeat; width:280px; padding:0 0 40px 15px; color:#FFF; font-size:32px; font-weight:bold; margin:0 auto; font-family:DIN,'Microsoft YaHei','SimHei';}
.drinkSubEnTitle{ font-size:26px; color:#48D731; line-height:26px; padding:0; letter-spacing:2px; font-weight:normal;}
.drinkContext{ width:290px; margin:0 auto; color:#FFF; font-size:14px; line-height:36px; padding:40px 0 0 10px;}
.drinkLineLeftContent .drinkSubTitle{ width:75%; padding-top:90px; margin:0; margin-left:15%;}
.drinkLineLeftContent .drinkContext{ width:75%; margin:0; margin-left:15%;}
.greenFont{ color:#48D731;}
.drinkIcon{ margin-right:10px;}
.brandLineRightContent img.coverImg{ position:absolute; left:0; top:0; z-index:100;}
.drinkBorder1{ border:15px solid #48D731; width:225px; height:225px; top:-100px; right:-60px; z-index:50;}
.drinkBorder2{ border:15px solid #48D731; width:225px; height:225px; bottom:-100px; right:-60px; z-index:50;}

.backToTop{ position:fixed; right:100px; bottom:100px; z-index:1000; display:none;}

.noteBg{ background:url(../images/noteBg.jpg) center top no-repeat; background-size:100% 100%; width:100%;}
.noteContent{ background:url(../images/noteBg2.png) 0 0 no-repeat; background-size:100% 100%; width:500px; height:300px; overflow:hidden; position:fixed; left:50%; top:50%; margin:-150px 0 0 -250px;}
.txt1{ width:100%; text-align:center; padding:140px 0 0 0; line-height:22px; font-size:14px; color:#FFF; letter-spacing:3px;}
.noteSel{ position:absolute; background:url(../images/noteIcon.png) 0 -30px no-repeat; width:165px; height:16px; line-height:16px; font-size:14px; color:#48D731; padding-left:25px; left:160px; top:188px; letter-spacing:3px;}
.noteSel:hover,.noteSel:focus{ color:#48D731;}
.noteSelOn{ background-position:0 0;}
#noteBtn{ font-size:14px; color:#FFF; display:block; border:4px solid #48D731; width:74px; height:20px; line-height:20px; position:absolute; left:50%; top:230px; margin-left:-42px; text-align:center;}
#noteBtn:hover,#noteBtn:focus{ color:#FFF;}

/*970*/
@media (max-width: 992px) {
	
	.qLeft{ left:15%; width:40px;}
	.qRight{ right:15%; width:40px;}
	
	.lineBlock1{left:5%;}
	
	.partyKvLine{ top:15%;}
	
	.drinkNav{ top:0;}
	.drinkBlock .container{ background-position:center 0;}
	}

/*767*/
@media (max-width: 767px) {
	.noteBg{ background-image:url(../images/noteBg_m.png);}
	.noteContent{ background-image:url(../images/noteBg2_m.png); width:290px; height:380px; margin:-190px 0 0 -145px;}
	.txt1{ padding:190px 0 0 0;}
	.noteSel{ left:60px; top:240px;}
	#noteBtn{ top:290px;}
	
	.backToTop{ right:5px; bottom:5px;}
	.backToTop img{ width:40px;}
	
	body{ background:#f0f0f0;}
	
	.indexBlock .container{/* background-image:url(../images/index/indexBg_m.jpg);*/ padding-bottom:50px;}
	.kvEf{ left:50%; top:27%; margin-left:-165px;}
	.kvVideo{ left:40px; top:205px;}
	
	.snsLine{ display:block;}
	
	.pcShow{ display:none;}
	.mobileShow{ display:inline-block;}
	
	.qLeft{ width:30px; left:8%; bottom:70px;}
	.qRight{ width:30px; right:8%;}
	
	.indexLine2{ margin-top:50px; margin-bottom:50px;}
	.indexLine1left,.indexLine2left{ padding:100px 0 100px 0; border-left-width:15px; margin-bottom:0;}
	.indexLine1Right{ position:static; left:auto; top:auto;}
	.indexLine2Right img{ position:static; left:auto; top:auto;}
	.indexLine2Right{ position:static; left:auto; top:auto;}
	.indexLine1Bottom{ position:static; left:auto; bottom:auto;}
	.indexLine2Bottom{ position:static; left:auto; bottom:auto;}
	
	.topTitle{ width:140px; padding:4px 0 20px 5px; font-size:24px; line-height:26px; background-size:110px auto;}
	.topEnTitle{ font-size:20px; line-height:20px;}
	
	.brandTitle{width:200px; padding:4px 0 20px 5px; font-size:24px; line-height:26px; background-size:110px auto;}
	.brandTitleEnTitle{ font-size:20px; line-height:20px;}
	.bkLogo{width:11.6774193548387%;}
	.bkBottle{width:12.4838709677419%;}
	.brandLineRight{ position:static; padding:90px 0;}
	.brandLine{ padding-bottom:0;}
	.brandInfo{ padding-top:50px; padding-bottom:50px;}
	.biBottom{ position:static;}
	.bibLeft{ width:100%; float:none; margin-top:30px;}
	.bibRight{ width:100%; float:none; margin-top:30px;}
	.biTop{ padding-bottom:0;}
	.topContext{ padding-left:30px; padding-right:30px;}
	/*.brandBlock .container{ background-image:url(../images/brand/bg_m.jpg);}*/
	.brandBlock{ background:url(../images/mobileBgB.png) right bottom no-repeat; background-size:100% auto;}
	.txtTopBg{ background:url(../images/mobileBgT.jpg) left bottom no-repeat; background-size:100% auto;}
	.brandContext{ padding:40px 0 0 15px; width:330px;}
	.brandBuyLink{ padding:40px 0 0 15px; width:330px;}
	.brandLineRightInner{ position:static; left:auto; top:auto; bottom:auto;}
	.brandLineLeftContent{ padding-left:20px; margin-top:-2px;}
	.brandLineRightHasGreen{ padding:0;}
	.brandLineLeftContent .brandTitle{ width:200px; margin:0 auto;}
	.brandLineLeftContent .brandContext{ width:330px; margin:0 auto;}
	.brandLineLeftContent .brandBuyBtn{ width:330px; margin:0 auto;}
	
	.eventBlock .container{/* background-image:url(../images/event/eventBg_m.jpg);*/ padding-bottom:50px;}
	.eventLine1left,.eventLine2left,.eventLine3left{ padding:100px 0 100px 0; border-left-width:15px; margin-bottom:0;}
	.eventLine1Right{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine2Right img{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine2Right{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine3Right{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine1Bottom{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine2Bottom{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine3Bottom{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine1Right img{ position:static; left:auto; top:auto; bottom:auto;}
	.eventLine3Right img{ position:static; left:auto; top:auto; bottom:auto;}
	.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {bottom:-30px;}
	.eventLine2{ margin-top:50px;}
	.eventTitle{ width:200px; padding:4px 0 20px 5px; font-size:24px; line-height:26px; background-size:110px auto;}
	.eventTitleEnTitle{ font-size:20px; line-height:20px;}
	.eventSubTitle{ width:200px;}
	
	
	.crmKv .container{ height:auto; background:#262324;}
	.crmKvLine{padding-top:50px; width:100%; position:static; left:auto; top:auto; margin-left:0;}
	.crmKvLine img.qc{ margin-right:0; float:none;}
	.crmKvTxt{ padding:40px 20px 50px 20px; text-align:center;}
	.crmKv .crmOuter{ height:auto;}
	
	.partyKvQc{padding-top:80px; width:100%; text-align:center; background:url(../images/mobileBgT.jpg) left bottom no-repeat #262324;}
	.partyKvLine img.qc{ margin-right:0; float:none;}
	.partyKvTxt{ padding:40px 20px 50px 20px; text-align:center;}
	
	
	.drinkTitle{ margin-left:-50px; width:120px; padding:4px 0 20px 5px; font-size:24px; line-height:26px; background-size:110px auto; top:35%;}
	.drinkEnTitle{ font-size:20px; line-height:20px;}
	
	.drinkSubTitle{ width:280px; padding:4px 0 20px 5px; font-size:24px; line-height:26px;  background-size:110px auto;}
	.drinkSubEnTitle{ font-size:20px; line-height:20px;}
	.dnTop{ margin-bottom:0;}
	.drinkNavOuter{ height:auto;}
	.drinkNav{ position:static;}
	.dnOuter{ border:none; padding:0;}
	.dnCol{ padding:35px 0 20px 75px; border:none; border-bottom:1px solid #48D731;}
	.dnCol ul{ overflow:hidden;}
	.drinkIcon3{ transform-origin:50% 50% 0; -moz-transform-origin:50% 50% 0; -ms-transform-origin:50% 50% 0; -webkit-transform-origin:50% 50% 0;}
	.drinkLineRight{ position:static;}
	.drinkLine{ padding-bottom:30px;}
	
	.footContent{ margin:0; width:33.333333%;}
	.fcBottom{ padding:30px 5% 30px 5%;}
	.foot1{ padding-bottom:0px; padding-top:0;}
	
	.footLink{ line-height:28px; padding-bottom:30px;}
	}

/*580*/
@media (max-width: 590px) {
	}
	







